body{
    background-color: white;
}

#content-area{
    width: 50%;
    min-width: 350px;
    margin:auto;
    background-color: white;
}

#logo-container{
    left:50%;
    right:50%;
    position: relative;
    margin-top: 50px;
    padding-top: 50px;
}

#logo{
    width:300px;
    margin-left: -150px;
}

#search-container{
    background-color: whitesmoke;
    width: 200px;
    margin:30px 30px;
    border:1px solid black;
}


#nav-container table{
    margin-left: -190px;
    left:50%;
    right:50%;
    position: relative;
}

#nav-container{
    background-color: #166fb0;
    height:40px;
    
}

#nav-container td {
    height:40px;
    padding: 0px 20px;
}

#nav-container a { 
    text-decoration: none;
    color: white;
}

.content{
    width:80%;
    margin:auto;
    display:block;
    margin-top:50px;
}

h1, h2{
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.col{
    margin-top: 15px;
}

.section2{
    max-height:250px;
    max-width: 250px;
}

.section3{
    
    
} 

.section3 img{
    max-width: 150px;
}

.social{
    padding-bottom: 10px;
    border: 1px black solid;
}

.delivery{
    max-height: 75px;
}

#footerContent, #utilityBar{
    text-align: center;
    font-size: 12px;
}